.list {
  line-height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
li {
  width: 150px;
  height: 150px;

  border: 1px solid #000;
  border-radius: 8px;
  list-style-type: none;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px;
  text-align: center;
  padding: 10px;
}
li:hover {
  zoom: 120%;
}
.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
}
h1 {
  text-align: center;
  color: rgb(68, 125, 230);
}
.photo {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.photo-container {
  text-align: center;
}
