* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: darksalmon;
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
  margin: 0px;
}

.cursor {
  cursor: pointer;
}

.indent {
  text-indent: 10px;
}
.tog {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle {
  background-color: #fff;
  width: 35px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.toggle::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(107, 122, 136);
  margin: 2px;
  transition: 0.2s;
}
input:checked + .toggle {
  background-color: black;
}
input:checked + .toggle::before {
  transform: translateX(15px);
}
.display {
  display: none;
}
.color {
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: inherit;
}

.model {
  position: fixed;
  width: 400px;
  height: 350px;
  background-color: rgb(195, 244, 245);
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.close {
  text-align: right;
  cursor: pointer;
}

input {
  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
.right {
  text-align: right;
  margin: -10px 45px 10px 0px;
  font-size: smaller;
}
button {
  padding: 10px 20px;
  font-size: large;
  font-weight: 200;
  border-radius: 8px;
  margin: 10px;
  border: none;
  background-color: rgb(241, 167, 204);
  box-shadow: 2px 2px rgb(70, 54, 62);
  cursor: pointer;
}
.member {
  margin-top: 15px;
}
.background {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  list-style-type: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
}
.product-img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  align-self: center;
}
.price {
  align-self: flex-start;
  font-weight: bold;
  margin-top: 5px;
}
