.dialog1 {
  position: absolute;
  border: none;
  background-color: aqua;
  width: 400px;
  height: 200px;
}
.close {
  position: absolute;
  top: 0;
  left: 0;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 10px;
}
